@import './reset.css';

.index_head {
    height: 1.7rem;
    background-image: url('../images/shop_index_02.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.search_box {
    width: 5.06rem;
    height: 0.5rem;
    border-radius: 0.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0rem 0rem 0.1rem #d44b2a
}

.search_box img {
    width: 0.27rem;
    height: 0.25rem;
    margin-left: 0.2rem;
    margin-right: 0.15rem;
}

.search_input {
    height: 0.5rem;
    box-sizing: border-box;
    width: 4.3rem;
    border: none;
    font-size: 0.24rem;
}

.area_title {
    display: flex;
    flex-direction: row;
    padding: 0 0.65rem;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.15rem;
}

.area_title span {
    font-size: 0.28rem;
    color: #fff;
    display: block;
    padding-bottom: 0.06rem;
    -webkit-tap-highlight-color:transparent;
    user-select: none;
    -webkit-user-select: none;
}

.choosen_span {
    border-bottom: solid 0.01rem #fff;
}

/*placehold change color*/
input::-webkit-input-placeholder{
    color:#737373;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#737373;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#737373;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#737373;
}
/*placehold change color*/

.product_container {
    display: flex;
    flex-direction: column;
    padding-top: 1.7rem;
    /* display: none; */
}

.swiper-container {
    width: 7rem;
    height: 1.9rem;
    margin-top: 0.03rem !important;
}

.swiper-slide img {
    width: 7rem;
    height: 1.9rem;
}

.product_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.22rem 0.2rem 0.2rem;
    border-bottom: solid 0.01rem #eeeeee;
}

.single_a {
    width: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single_a img {
    height: 0.55rem;
}

.single_a span {
    font-size: 0.22rem;
    color: #191919;
}

.limit_box {
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0.5rem;
    align-items: center;
    position: relative;
}

.left_limit {
    display: flex;
    flex-direction: row;
}

.left_limit img {
    width: 0.43rem;
    height: 0.59rem;
    margin-right: 0.12rem;
}

.limit_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.limit_title p {
    font-size: 0.26rem;
    font-weight: bold;
    color: #f34657;
}

.limit_title span {
    font-size: 0.14rem;
    color: #4d4d4d;
}

.right_time {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.right_time span {
    width: 0.42rem;
    height: 0.42rem;
    background-color: #595959;
    border-radius: 0.05rem;
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    line-height: 0.42rem;
    font-family: Arial, Helvetica, sans-serif;
}

.right_time em {
    font-size: 0.3rem;
    color: #595959;
    margin: 0 0.05rem;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    line-height: 0.42rem;
}

.time_img {
    position: absolute;
    left: 3.64rem;
    top: 0.32rem;
    width: 1.54rem;
}

.limit_product_list {
    display: flex;
    flex-direction: row;
    padding: 0 0.8rem 0.17rem;
    justify-content: space-between;
    border-bottom: solid 0.01rem #eeeeee;
}

.limit_product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limit_product img {
    width: 1.83rem;
    height: 1.83rem;
    border: solid 0.01rem #e9e9e9;
    margin-bottom: 0.05rem;
}

.limit_product p {
    font-size: 0.2rem;
    color: #f34657;
    font-weight: bold;
}

.normal_product_list {
    display: flex;
    flex-direction: row;
    padding: 0.15rem 0.25rem 0.15rem 0.4rem;
}

.normal_product_list img {
    width: 2.29rem;
    height: 2.31rem;
    border-radius: 0.1rem;
    flex-shrink: 0;
    margin-right: 0.2rem;
}

.right_product_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_title {
    font-size: 0.28rem;
    color: #152127;
    line-height: 0.4rem;
    margin-bottom: 0.55rem;
}

.product_favourable {
    font-size: 0.16rem;
    margin-bottom: 0.15rem;
}

.product_price {
    font-size: 0.16rem;
    color: #9f9f9f;
}

.youhui {
    color: #000;
    border: solid 0.01rem #818181;
    border-radius: 0.2rem;
    padding: 0.03rem 0.1rem;
    margin-right: 0.1rem;
}

.baoyou {
    color: #f39800;
    border: solid 0.01rem #f29b76;
    border-radius: 0.2rem;
    padding: 0.03rem 0.1rem;  
}

.product_price em {
    font-size: 0.28rem;
    color: #eb6100;
    font-style: normal;
    margin-right: 0.05rem;
}

.shouhuo {
    margin-right: 0.2rem;
}

.other_menu_container {
    display: flex;
    flex-direction: column;
    padding-top: 1.7rem;
    display: none;
}

.keyword_type {
    display: flex;
    flex-direction: row;
    padding: 0 0.7rem;
    justify-content: space-between;
}

.keyword_type span {
    font-size: 0.28rem;
    color: #7b7b7b;
    padding-right: 0.2rem;
    background-image: url('../images/img2_03.png');
    background-repeat: no-repeat;
    background-size: 0.12rem 0.16rem;
    background-position: center right 0;
}

.choosen_one {
    color: #e96302 !important;
    background-image: url('../images/img2_05.png') !important;
}

.other_product_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0.18rem;
}

.other_product_single {
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 5.4rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.1rem #ededed;
    padding: 0.13rem 0.13rem 0.22rem 0.13rem;
    align-items: center;
    margin-bottom: 0.1rem;
}

.other_product_single img {
    width: 3.3rem;
    height: 3.07rem;
    margin-bottom: 0.4rem;
}

.other_product_single p {
    font-size: 0.28rem;
    color: #808080;
}

.other_product_single span {
    font-size: 0.28rem;
    color: #d33124;
    margin-right: auto;
    margin-top: auto;
}

.other_product_single em {
    font-size: 0.24rem;
}

.search_message_box {
    padding-top: 1.7rem;
    padding-left:0.25rem;
    padding-right: 0.25rem; 
    display: none;
}

.search_message_box ul {
    display: flex;
    flex-direction: column;
}

.search_message_box ul li {
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: solid 0.01rem #f4f4f4;
    font-size: 0.24rem;
    color: #1a1a1a;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_message_box ul li img {
    width: 0.2rem;
    height: 0.2rem;
    margin-left: auto;
}

.all-search-box {
    display: flex;
    flex-direction: row;
    height: 0.5rem;
    margin-top: 0.28rem;
    align-items: center;
}

.left-arrow {
    width: 0.16rem;
    height: 0.28rem;
    margin-right: 0.24rem;
    display: none;
}

.cancel {
    font-size: 0.24rem;
    color: #fff;
    margin-left: 0.15rem;
    display: none;
}

/*购物车*/
.cart_header {
    height: 1.14rem;
    background-image: url('../images/gouwu_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.cart_header p {
    font-size: 0.4rem;
    color: #fff;
    text-align: center;
    margin-top: 0.18rem;
}

.cart_header span {
    font-size: 0.4rem;
    color: #fff;
    position: absolute;
    right: 0.6rem;
    top: 0.17rem;
}

.cart_product_box {
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
    align-items: center;
    padding-bottom: 1rem;
}

.cart_product {
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 3.1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.1rem #dedede;
    padding: 0.2rem;
    box-sizing: border-box;
    margin-bottom: 0.15rem;
}

.top_shop_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.34rem;
}

.round_btn {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 100%;
    border: solid 0.01rem #bababa;
    margin-right: 0.24rem;
    flex-shrink: 0;
    position: relative;
}

.choosen_pro::before {
    content: '';
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 100%;
    background-color: #fa5e25;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.top_shop_name p {
    font-size: 0.28rem;
    color: #686868;
    font-weight: bold;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products img {
    width: 1.65rem;
    height: 1.65rem;
    border-radius: 0.2rem;
    border: solid 0.01rem #acacaa;
    margin-right: 0.25rem;
    flex-shrink: 0;
}

.product_content {
    display: flex;
    flex-direction: column;
}

.pro_name {
    font-size: 0.26rem;
    color: #403f3d;
}

.guige {
    font-size: 0.24rem;
    color: #403f3d;
}

.price_box {
    display: flex;
    flex-direction: row;
}

.price_box p {
    font-size: 0.34rem;
    color: #e96109;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2.46rem;
}

.price-btn {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.price-btn span {
    width: 0.6rem;
    height: 0.52rem;
    text-align: center;
    line-height: 0.52rem;
    border: solid 0.01rem #eae5e2;
    color: #94908d;
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 0.28rem;
}

.price-btn span:nth-child(1) {
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;
    margin-right: -0.01rem;
}

.price-btn span:nth-child(2) {
    width: 0.8rem !important;
}

.price-btn span:nth-child(3) {
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    margin-left: -0.01rem;
}

.account-box {
    height: 1rem;
    background-color: #fcf7f4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.15rem 0 0.25rem;
    box-sizing: border-box;
}

.all_select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.all_select span {
    font-size: 0.24rem;
    color: #6a6a6c;
}

.account-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-btn p {
    font-size: 0.24rem;
    color: #6a6a6c;
}

.account-btn em {
    color: #f29a02;
    font-style: normal;
}

.account-btn span {
    color: #f29a02;
}

.jiesuan {
    width: 1.66rem;
    height: 0.68rem;
    /* background-color: #eb6100; */
    background-color: #a6a6a6;
    border-radius: 0.15rem;
    color: #fff;
    font-size: 0.26rem;
    line-height: 0.68rem;
    text-align: center;
    border: none;
    margin-left: 0.15rem;
}