<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-banner">
			<dt><i class="Hui-iconfont">&#xe613;</i> 轮播图管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('banner/detail')}" data-title="添加轮播图" href="javascript:;">添加轮播图</a></li>
					<li><a data-href="{:url('banner/index')}" data-title="轮播图列表" href="javascript:;">轮播图列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-category">
			<dt><i class="Hui-iconfont">&#xe681;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('category/detail')}" data-title="添加分类" href="javascript:;">添加分类</a></li>
					<li><a data-href="{:url('category/index')}" data-title="分类列表" href="javascript:;">分类列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-goods">
			<dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('goods/detail')}" data-title="商品添加" href="javascript:;">商品添加</a></li>
					<li><a data-href="{:url('goods/index')}" data-title="商品列表" href="javascript:void(0)">商品列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-order">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('order/listToShip')}" data-title="待发货列表" href="javascript:void(0)">待发货列表</a></li>
					<li><a data-href="{:url('order/listToRefund')}" data-title="待退款列表" href="javascript:void(0)">待退款列表</a></li>
					<li><a data-href="{:url('order/list')}" data-title="订单列表" href="javascript:void(0)">订单列表</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-user">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('user/list')}" data-title="会员列表" href="javascript:void(0)">会员列表</a></li>
					<li><a data-href="{:url('user/delList')}" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
					<li><a data-href="{:url('user/scoreOperation')}" data-title="积分管理" href="javascript:;">积分管理</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('adminUser/adminList')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
					<li><a data-href="{:url('adminUser/adminRole')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{:url('adminUser/adminPermission')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
				</ul>
			</dd>
		</dl>
				
<!-- 		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
					<li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
					<li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
					<li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
				</ul>
			</dd>
		</dl> -->
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>