<!--_meta 作为公共模版分离出去-->
{include file="public/_meta"}
<!--/meta 作为公共模版分离出去-->

<body>
	<div class="cl pd-5 bg-1 bk-gray mt-20">添加轮播图</div>
	<div class="page-container">
		<form action="{:url('detail')}" method="post" class="form form-horizontal" id="form-article-add">
			{notempty name='detail.id'}
				<input type="hidden" name="id" value="{$detail.id}">
			{/notempty}	

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>标题：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$detail.name|default=''}" placeholder="" id="" name="name">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">轮播图：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="file" name="file_upload" id="thumbnail_upload" /><span class="isFlashOn"></span>
					<img src="{$detail.image|default=''}" alt="" id='thumbnail_upload_preview'>
					<input id="thumbnail" type="hidden" name="image" multiple="true" value="{$detail.image|default=''}">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>URL：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$detail.url|default=''}" placeholder="" id="" name="url">
				</div>
			</div>


			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button class="btn btn-primary radius" type="submit">
						<i class="Hui-iconfont">&#xe632;</i> 提交</button>
					<button class="btn btn-default radius" type="reset">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>

	<!--_footer 作为公共模版分离出去-->
	{include file="public/_footer"}
	<!--/_footer 作为公共模版分离出去-->

	<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/image.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/isFlashOn.js"></script>

	<!--请在下方写此页面业务相关的脚本-->
	<script>
		var SCOPE = {
			'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',
			'image_upload': '{:url("api/image/upload")}'
		}

	</script>

</body>

</html>