<!--_meta 作为公共模版分离出去-->
{include file="public/_meta"}
<!--/meta 作为公共模版分离出去-->

<style type="text/css">
	.image-list>li{
		position:relative;
		display:inline-block;
		margin-right:15px;
		width:150px;
		vertical-align:top;
	}
	.image-list>li>img{
		width:100%;
	}
	.image-list>li>.btn-delete{
		position:absolute;
		right:0;
		top:0;
		height:20px;
		line-height:20px;
		text-align:center;
		width:20px;
		background:rgba(0,0,0,0.7);
		font-size:18px;
		color:#fff;
	}
</style>
</head>



<body>
	<div class="cl pd-5 bg-1 bk-gray mt-20">添加商品</div>
	<div class="page-container">
		<form action="{:url('goods/detail')}" method="post" class="form form-horizontal" id="form-article-add">
			{notempty name='detail.id'}
				<input type="hidden" name="id" value="{$detail.id}">
			{/notempty}

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>商品名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$detail.name|default=''}" placeholder="" id="" name="name">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">商品分类：</label>
				<div class="formControls col-xs-8 col-sm-9"> 
					<span class="select-box">
						<select class="select" name="category_id">
							{volist name='categorys' id='vo'}
								<option value="{$vo.id}">{$vo.name}</option>
							{/volist}
						</select>
					</span> 
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">商品首页图：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="file" name="file_upload" id="thumbnail_upload" /><span class="isFlashOn"></span>
					<img src="{$detail.thumbnail|default=''}" alt="" id='thumbnail_upload_preview' style='width: 150px;height:150px'>
					<input id="thumbnail" type="hidden" name="thumbnail" multiple="true" value="{$detail.thumbnail|default=''}">
				</div>
			</div>
			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">商品图片：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="file" name="file_upload" id="file_upload" multiple="true" />
					<ul class="image-list" id="imageList">
						{notempty name='detail.image'}
							{php}
								$goods_image = explode('|',$detail['image']);
								foreach($goods_image as $key => $value){
									echo ("<li><img src=$value><i class='btn-delete'>×</i></li>");
								}
							{/php}			
						{/notempty}
					</ul>
					<input id="file_upload_image" type="hidden" name="image" value="{$detail.image|default=''}">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>价格：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$detail.price|default=''}" placeholder="" id="" name="price">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>库存：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text" value="{$detail.num|default=''}" placeholder="" id="" name="num">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>商品详情：</label>
				<textarea id="content" name="content" style="width:600px;min-height:200px;float:left;display: none;">{$detail.content|default=''}</textarea>
				<div id="editor"></div>
			</div>	
            
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button class="btn btn-primary radius" type="submit">
						<i class="Hui-iconfont">&#xe632;</i> 提交</button>
					<button class="btn btn-default radius" type="reset">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				</div>
			</div>
		</form>
	</div>

	<!--_footer 作为公共模版分离出去-->
	{include file="public/_footer"}
	<!--/_footer 作为公共模版分离出去-->

	<script type="text/javascript" src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/image.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
	<script type="text/javascript" src="__STATIC__/admin/js/isFlashOn.js"></script>

	<!--请在下方写此页面业务相关的脚本-->
	<script>
		var SCOPE = {
			'uploadify_swf': '__STATIC__/admin/uploadify/uploadify.swf',
			'image_upload': '{:url("api/image/upload")}'
		}

		/************************************这里开始引入wangEditor*************************/
		if(document.getElementById("editor")){
		    var E = window.wangEditor;
		    var editor = new E('#editor');
		    var $content = $('#content');
		    editor.customConfig.pasteFilterStyle = false; //关闭掉粘贴样式的过滤
		    editor.customConfig.uploadImgServer = "{:url('api/image/wangEditor_upload')}"; // 配置服务器端地址
		    editor.customConfig.uploadFileName = 'file'; //自定义 fileName
		    editor.customConfig.uploadImgParams = {
		        // 如果版本 <=v3.1.0 ，属性值会自动进行 encode ，此处无需 encode
		        // 如果版本 >=v3.1.1 ，属性值不会自动 encode ，如有需要自己手动 encode
		        //
		    }; //自定义上传参数

		    editor.customConfig.debug = true;//开启debug模式

		    editor.customConfig.onchange = function (html) {
		        // console.log(html);
		        // 监控变化，同步更新到 textarea
		        $content.val(html);
		    }
		    editor.create();
		    editor.txt.html($content.val());
		    // 初始化 textarea 的值
		    // $content.val(editor.txt.html());
		}

	</script>

</body>

</html>
