<link rel="stylesheet" href="__STATIC__/index/iconFont/iconfont.css">
<style type="text/css"> 
.bottom_menu {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    height: 1rem;
    background-color: #fff;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    justify-content: space-between;
}

.bottom_menu a {
    display: flex;
    flex-direction: column;
    width: 0.8rem;
    align-items: center;
    justify-content: center;
    color: #000;
}

.bottom_menu a i {
    width: 0.44rem;
    height: 0.44rem;
    margin-bottom: 0.05rem;
    font-size: 0.4rem;
    text-align: center;
}

.bottom_menu a span {
    font-size: 0.22rem;
}

.choosen_menu span {
    color: #e65f00 !important;
}

.choosen_menu i {
    color: #e65f00 !important;
}
</style>


<div class="bottom_menu">
    <a href="{:url('index/index')}">
        <i class="iconfont icon-zhuye"></i>
        <span>首页</span>
    </a>
    <a href="{:url('cart/index')}">
        <i class="iconfont icon-gouwuche"></i>
        <span>购物车</span>
    </a>
    <a href="{:url('order/list')}">
        <i class="iconfont icon-xingxing"></i>
        <span>订单</span>
    </a>
    <a href="{:url('user/personal')}">
        <i class="iconfont icon-wode"></i>
        <span>我的</span>
    </a>
</div>

<script type="text/javascript">
    
    (function(){
        $('.bottom_menu a').each(function(index,item){
            var herf = $(item).attr('href')
            if(herf === location.pathname){
                $(item).addClass('choosen_menu')
            }
        })
    })()
    
</script>