<!--_meta 作为公共模版分离出去-->
{include file="public/_meta"}
<!--/meta 作为公共模版分离出去-->

<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	代发货列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
	    title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
</div>
<div class="page-container">
	<div class="text-c">
		<form action="" method="get">

			<input type="text" name="" id="" placeholder="标题" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit">
				<i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	</form>

	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25">
						<input type="checkbox" name="" value="">
					</th>
					<th width="100">代发货名称</th>
					<th width="100">图片</th>
					<th width="100">地址</th>
					<th width="100">新增时间</th>
					<th width="60">发布状态</th>
					<th width="50">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id='vo'}
				<tr class="text-c">
					<td>
						<input type="checkbox" name="" value="">
					</td>
					<td><a href="{:url('detail',['id'=>$vo.id])}">{$vo.name}</a></td>
					<td>
						<img src="{$vo.image}" style="height: 30px; width: 30px">
					</td>
					<td>{$vo.url}</td>
					<td>{$vo.create_time}</td>
					<td>
						<a href="{:url('banner/status',['id'=>$vo.id,'status'=>$vo.status==1?0:1])}" title="发布">{$vo.status|status}</a>
					</td>
					<td class="f-14">
						<a title="删除" href="javascript:;" onclick="system_category_del('{:url(\'banner/status\',[\'id\'=>$vo.id,\'status\'=>-1])}')"
						    class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--分页-->
{:pagination($list)}
<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript">
	$('.table-sort').dataTable({
		"aaSorting": [
			[1, "desc"]
		], //默认第几个排序
		"bStateSave": true, //状态保存
		"aoColumnDefs": [
			//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{
				"orderable": false,
				"aTargets": [0, 4]
			} // 制定列不参与排序
		]
	});
	/*系统-栏目-添加*/
	function system_category_add(title, url, w, h) {
		layer_show(title, url, w, h);
	}
	/*系统-栏目-编辑*/
	function system_category_edit(title, url, id, w, h) {
		layer_show(title, url, w, h);
	}
	/*系统-栏目-删除*/
	function system_category_del(url) {
		layer.confirm('确认要删除吗？', function (index) {
			window.location.href = url;
		});
	}
</script>

<script>
	var SCOPE = {
		"listorder_url": "{:url('category/listorder')}"
	}
</script>
</body>

</html>