<!--_meta 作为公共模版分离出去-->
{include file="public/_meta"}
<!--/meta 作为公共模版分离出去-->

<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span>
	订单列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
	    title="刷新">
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
</div>
<div class="page-container">
	<div class="text-c">
		<form action="{:url('banner/index')}" method="get">

			<input type="text" name="" id="" placeholder="标题" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit">
				<i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	</form>

	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg">
			<thead>
				<tr class="text-c">
					<th width="25">
						<input type="checkbox" name="" value="">
					</th>
					<th width="100">订单单号</th>
					<th width="50">下单人昵称</th>
					<th width="100">发货地址</th>
					<th width="100">付款时间</th>
					<th width="60">订单状态</th>
					<th width="50">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id='vo'}
				<tr class="text-c">
					<td>
						<input type="checkbox" name="" value="">
					</td>
					<td><a href="{:url('detail',['id'=>$vo.id])}">{$vo.name}</a></td>
					<td>
						<img src="{$vo.image}" style="height: 30px; width: 30px">
					</td>
					<td>{$vo.url}</td>
					<td>{$vo.create_time}</td>fa
					<td class="td-status">
						<span class="label {$vo.status==1?'label-success':'label-defaunt'} radius">{$vo.status==1?'已发布':'待发布'}</span>
					</td>
					<td class="td-manage">
						{eq name='vo.status' value='0'}
						<a style="text-decoration:none" onClick="general_start('{:url(\'status\')}','status=1&id={$vo.id}')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
						{else/}
						<a style="text-decoration:none" onClick="general_stop('{:url(\'status\')}','status=0&id={$vo.id}')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a> 
						{/eq}
						<a style="text-decoration:none" class="ml-5" onClick="general_edit('商品编辑','{:url(\'detail\',[\'id\'=>$vo.id])}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
						<a style="text-decoration:none" class="ml-5" onClick="general_del('{:url(\'status\')}','status=-1&id={$vo.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
	</div>
</div>
<!--分页-->
{:pagination($list)}
<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript">
	$('.table-sort').dataTable({
		"aaSorting": [
			[1, "desc"]
		], //默认第几个排序
		"bStateSave": true, //状态保存
		"aoColumnDefs": [
			//{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
			{
				"orderable": false,
				"aTargets": [0, 4]
			} // 制定列不参与排序
		]
	});
</script>

<script>
	var SCOPE = {
		"listorder_url": "{:url('category/listorder')}"
	}
</script>
</body>

</html>