@import './reset.css';
body {
    background-color: #efeff4;
}

.add_address_box {
    display: flex;
    flex-direction: column;
    border-top: solid 0.3rem #efeff4;
    padding-left:0.25rem;
    box-sizing: border-box;
    background-color: #fff;
}

.single_address_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.1rem;
    box-sizing: border-box;
    height: 1rem;
    border-bottom: solid 0.01rem #e9e9e9;
    position: relative;
}

.single_address_box span {
    font-size: 0.28rem;
    color: #000;
    width: 1.2rem;
    margin-right: 0.28rem;
}

.single_address_box input {
    height: 1rem;
    box-sizing: border-box;
    font-size: 0.26rem;
    color: #333;
    border: none;
    background-color: transparent;
    flex-grow: 1;
}

.save_btn {
    height: 1rem;
    background-color: #087de9;
    color: #fff;
    line-height: 1rem;
    text-align: center;
    font-size: 0.36rem;
    margin-top: 0.2rem;
}

.address_tips {
    position: absolute;
    left: 3rem;
    top: -0.24rem;
    min-width: 0.6rem;
    height: 0.5rem;
    background-color: #333;
    color: #fff;
    font-size: 0.22rem;
    text-align: center;
    line-height: 0.5rem;
    border-radius: 0.05rem;
    padding: 0 0.1rem;
}

.address_tips::before {
    content: '';
    position: absolute;
    width: 0;
    border-width: 0.12rem;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    left: 0.1rem;
    bottom: -0.22rem;
}

.special_area {
    background-image: url('../image/area.png');
    background-repeat: no-repeat;
    background-size: 0.4rem 0.4rem;
    background-position: right 0.4rem center;
}