@import './reset.css';
.goods_head {
    height: 0.9rem;
    background-image: url('../image/goods_head.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.goods_head img {
    height: 0.4rem;
    position: absolute;
    left: 0.4rem;
    top: 0.18rem;
}

.goods_head p {
    font-size: 0.4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.08rem;
}

.goods_list_box {
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
}

.keyword_type {
    display: flex;
    flex-direction: row;
    padding: 0 0.7rem;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0.9rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

.keyword_type span {
    font-size: 0.28rem;
    color: #7b7b7b;
    padding-right: 0.2rem;
    background-image: url('../image/img2_03.png');
    background-repeat: no-repeat;
    background-size: 0.12rem 0.16rem;
    background-position: center right 0;
}

.choosen_one {
    color: #e96302 !important;
    background-image: url('../image/img2_05.png') !important;
}

.other_product_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0.18rem;
}

.other_product_single {
    display: flex;
    flex-direction: column;
    width: 3.5rem;
    height: 5.4rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.1rem #ededed;
    padding: 0.13rem 0.13rem 0.22rem 0.13rem;
    align-items: center;
    margin-bottom: 0.1rem;
}

.other_product_single img {
    width: 3.3rem;
    height: 3.07rem;
    margin-bottom: 0.4rem;
}

.other_product_single p {
    font-size: 0.28rem;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.other_product_single span {
    font-size: 0.28rem;
    color: #d33124;
    margin-right: auto;
    margin-top: auto;
}

.other_product_single em {
    font-size: 0.24rem;
}