@import './reset.css';
.person_head {
    height: 3.15rem;
    background-image: url('../image/person_02.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.touxiang {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 100%;
    border: solid 0.05rem #fff;
    margin-top: 0.5rem;
}

.my_order_box {
    position: absolute;
    left: 50%;
    top: 2.55rem;
    transform: translateX(-50%);
}

.order_box {
    border-radius: 0.2rem;
    background-color: #fff;
    width: 7rem;
    min-height: 2.2rem;
    box-shadow: 0.02rem 0.02rem 0.05rem #e4e4e4;
}

.order_top {
    height: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem 0 0.15rem;
    box-sizing: border-box;
    align-items: center;
    border-bottom: solid 0.01rem #efefef;
}

.order_top span {
    font-size: 0.26rem;
    color: #464646;
}

.order_menu {
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    padding: 0.5rem 0.55rem 0;
    box-sizing: border-box;
    justify-content: space-between;
}

.single_list {
    display: flex;
    flex-direction: column;
    width: 0.8rem;
    align-items: center;
}

.single_list span {
    font-size: 0.24rem;
    color: #a4a4a4;
}

.single_list img {
    height:0.42rem;
    width: 0.5rem;
    margin-bottom: 0.2rem;
}

.adress_box {
    border-radius: 0.2rem;
    background-color: #fff;
    width: 7rem;
    min-height: 3rem;
    box-shadow: 0rem 0rem 0.05rem #e4e4e4;
    margin-top: 0.2rem;
}

.adress_top {
    height: 0.6rem;
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem 0 0.15rem;
    box-sizing: border-box;
    align-items: center;
    border-bottom: solid 0.01rem #efefef;
}

.adress_top span {
    font-size: 0.26rem;
    color: #464646;
}

.adress_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem 0.25rem 0 0.15rem;
    box-sizing: border-box;
}

.adress_left {
    width: 0.64rem;
    height: 0.64rem;
    border-radius: 100%;
    background-color: #a4a4a4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.3rem;
    color: #fff;
    margin-right: 0.2rem;
}

.adress_center {
    display: flex;
    flex-direction: column;
    width: 4.37rem;
}

.adress_name_first {
    font-size: 0.28rem;
    color: #8a8a8a;
    margin-bottom: 0.1rem;
}

.adress_name_first span {
    font-size: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.adress_right {
    width: 0.7rem;
    height: 0.5rem;
    text-align: right;
    line-height: 0.5rem;
    color: #6d6d6d;
    font-size: 0.24rem;
    border-left: solid 0.01rem #d4d4d4;
    margin-left: auto;
}

.address_detail {
    font-size: 0.24rem;
    color: #5e5e5e;
    line-height: 0.36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.address_detail span {
    background-color: #f39801;
    color: #fff;
    padding: 0.05rem 0.15rem;
    margin-right: 0.1rem;
}

.address_detail b {
    font-style: normal;
    font-weight: normal;
}

/*pay html*/
.pay_address_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.3rem;
    background-image: url('../image/pay_06.png');
    background-repeat: no-repeat;
    background-size: 7.5rem 0.04rem;
    background-position: 0 bottom;
    padding: 0 0.25rem 0 0.28rem;
    box-sizing: border-box;
    background-color: #fff;
}

.left_add {
    width: 0.73rem;
    height: 0.73rem;
    margin-right: 0.18rem;
}

.pay_address_box span {
    font-size: 0.26rem;
    color: #000;
}

.right_arrow {
    width: 0.12rem;
    margin-left: auto;
}

.pay_product_box {
    display: flex;
    flex-direction: column;
    margin-top: 0.35rem;
}

.pay_single_box {
    display:flex;
    flex-direction: column;
    padding-bottom: 0.9rem;
}

.pay_single_head {
    display: flex;
    flex-direction: row;
    height: 0.87rem;
    background-color: #fff;
    align-items: center;
    padding: 0 0.28rem;
    box-sizing: border-box;
}

.pay_single_head img {
    height: 0.28rem;
    width: 0.28rem;
    margin-right: 0.15rem;
}

.pay_single_head span {
    font-size: 0.26rem;
    color: #000;
}

.pay_single_content {
    height: 1.65rem;
    border-top: solid 0.08rem #fafafa;
    border-bottom: solid 0.08rem #fafafa;
    display: flex;
    flex-direction: row;
    padding: 0 0.28rem;
    background-color: #fff;
    align-items: center;
}

.pay_single_content img {
    height: 1.65rem;
    width: 1.65rem;
    flex-shrink: 0;
    margin-right: 0.2rem;
}

.real_content_box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.1rem 0;
    box-sizing: border-box;
    height: 1.65rem;
}

.real_content_pro_name {
    font-size: 0.28rem;
    color: #000;
    line-height: 0.36rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.real_content_pro_info {
    font-size: 0.22rem;
    color: #5d5d5d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.real_content_pro_info b {
    font-weight: normal;
}

.real_content_pro_price {
    font-size: 0.24rem;
    color: #000;
}

.peisong {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 0.86rem;
    background-color: #fff;
    align-items: center;
    border-bottom: solid 0.01rem #ececec;
    padding: 0 0.28rem;
}

.persong_left {
    font-size: 0.24rem;
    color: #000;
}

.persong_right {
    font-size: 0.24rem;
    color: #4b4b4b;
    display: flex;
    align-items: center;
}

.persong_right img {
    width: 0.12rem;
    margin-left: 0.1rem;
}

.pay_price {
    color: #ff2f2f !important; 
}

.tijiao_pay_order_box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.9rem;
    background-color: #fff;
    border-bottom: solid 0.01rem #f2f2f2;
    box-shadow: 0 0.1rem 0.1rem #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.heji_p {
    font-size: 0.26rem;
    color: #000;
}

.heji_p span {
    color: #ff3e3e !important;
}

.tijiao_pay_btn {
    height: 0.9rem;
    background-color: #ee3333;
    color: #fff;
    width: 2.2rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.28rem;
    margin-left: 0.2rem;
}

/*all order*/
.all_order {
    border-radius: 0.2rem;
    background-color: #fff;
    width: 7rem;
    min-height: 5rem;
    box-shadow: 0.02rem 0.02rem 0.05rem #e4e4e4;
    display: flex;
    flex-direction: column;
}

.order_detail_box {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.15rem;
    border-bottom: solid 0.01rem #efefef;
}

.order_shop_name {
    font-size: 0.26rem;
    color: #666666;
    margin-bottom: 0.15rem;
}

.order_more_info {
    display: flex;
    flex-direction: row;
}

.tupian {
    width: 1.06rem;
    height: 1.06rem;
    border-radius: 0.2rem;
    border: solid 0.01rem #a9aaac;
    margin-right: 0.25rem;
    flex-shrink: 0;
}

.order_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.order_content_top {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.order_product_p {
    width: 3.9rem;
    font-size: 0.24rem;
    color: #3f3e39;
    line-height:0.28rem;
    /* height: 0.55rem; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price_count {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.isPrice {
    color: #ec6000;
    font-size: 0.24rem;
}

.isPrice em {
    font-style: normal;
}

.isCount {
    color: #6c6c6c;
    font-size: 0.2rem;
}

.isCount em {
    font-style: normal;
}

.order_content_bottom {
    font-size: 0.22rem;
    color: #8f8f8f;
    border: solid 0.01rem #d7d7d7;
    border-radius: 0.2rem;
    min-width: 1.13rem;
    height: 0.4rem;
    text-align: center;
    line-height: 0.4rem;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: -0.1rem;
    padding: 0 0.05rem;
}

.ok {
    color: #f45a24;
    border: solid 0.01rem #f45a24;
}

.wait {
    color: #1c96d5;
    border: solid 0.01rem #1c96d5; 
}

.choosen_address_box {
    min-height: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.25rem 0 0.3rem;
    box-sizing: border-box;
    background-image: url('../image/pay_06.png');
    background-repeat: no-repeat;
    background-size: 7.5rem 0.04rem;
    background-position: 0 bottom;
}

.dingwei_img {
    width: 0.26rem;
    height: 0.3rem;
    margin-right: 0.15rem;
    flex-shrink: 0;
}

.choosen_address_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.main_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.26rem;
    color: #000;
}

.secon_info {
    font-size: 0.24rem;
    color: #4f4f4f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.youjiantou {
    width: 0.15rem;
    margin-left: 0.15rem;
    flex-shrink: 0;
    margin-left: auto;
}

.main_info span:nth-child(2) {
    margin-right: 0.1rem;
}

/*add count*/
.goumai_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.goumai_box span {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #eeeeee;
    color: #b5b5b5;
    font-size: 0.3rem;
    line-height: 0.5rem;
    text-align: center;
    border-radius: 0.1rem;
}

.goumai_box em {
    font-size: 0.3rem;
    color: #333;
    font-style: normal;
    margin: 0 0.2rem;
}

.zhezhao {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.pay_pop_box {
    position: fixed;
    left: 0;
    bottom: -8.6rem;
    height: 8.6rem;
    width: 100%;
    background-color: #fff;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay_header {
    height: 0.9rem;
    border-bottom: solid 0.01rem #cecece;
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.pay_header p {
    font-size: 0.34rem;
    color: #000;
    text-align: center;
    line-height: 0.9rem;
    width: 100%;
}

.pay_header img {
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
}

.pay_money {
    font-size: 0.65rem;
    color: #000;
    text-align: center;
    padding: 0.35rem 0;
}

.pay_info_p {
    display: flex;
    flex-direction: row;
    padding: 0 0.3rem;
    box-sizing: border-box;
    justify-content: space-between;
    line-height: 0.8rem;
    width: 100%;
}

.pay_info_p span {
    font-size: 0.32rem;
    color: #777777;
}

.pay_info_p span:nth-child(2) {
    color: #000 !important;
}

.pay_method {
    border-top: solid 0.01rem #e1e1e1;
    border-bottom: solid 0.01rem #e1e1e1;
}

.click_pay_btn {
    width: 6.9rem;
    height: 0.8rem;
    background-color: #148de5;
    color: #fff;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.42rem;
    border-radius: 0.1rem;
    margin-top: auto;
    margin-bottom: 0.3rem;
}

.show {
    bottom: 0rem;
    transition: all .5s;
}

.hide {
    bottom: -8.6rem;
    transition: all .5s;
}

.all_address_box {
    position: fixed;
    left: 0;
    bottom: -8rem;
    height: 8rem;
    width: 100%;
    background-color: #fff;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay_header {
    display: flex;
    flex-direction: row;
    height: 0.9rem;
    border-bottom: solid 0.01rem #cecece;
    position: relative;
    width: 100%;
}

.real_address {
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.teshu {
    width: 5rem;
}

.real_address .adress_info {
    margin-bottom: 0.2rem;
}

.showAddress {
    bottom: 0rem;
    transition: all .5s;
}

.hideAddress {
    bottom: -8rem;
    transition: all .5s;
}