@import './reset.css';
.swiper-container {
    height: 7.5rem;
}

.swiper-slide img {
    height: 7.5rem;
    width: 100%;
}

.product_price_box {
    height: 0.9rem;
    background-color: #fd4344;
    display: flex;
    flex-direction: row;
    padding-left: 0.27rem;
    box-sizing: border-box;
    align-items: center;
}

.now_price {
    font-size: 0.4rem;
    color: #fff;
}

.now_price span {
    font-size: 0.2rem;
}

.last_price {
    font-size: 0.2rem;
    color: #fff;
    opacity: 0.7;
    font-style: normal;
    margin-top: 0.12rem;
    margin-left: 0.2rem;
    text-decoration: line-through;
}

.product_name {
    height: 1.2rem;
    background-color: #fff;
    border-bottom: solid 0.01rem #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.2rem 0 0.3rem;
    box-sizing: border-box; 
}

.product_name p {
    font-size: 0.28rem;
    color: #000;
    line-height: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product_name span {
    width: 0.8rem;
    height: 0.38rem;
    border-radius: 0.4rem;
    border: solid 0.01rem #da5769;
    color: #da5769;
    text-align: center;
    line-height: 0.38rem;
    font-size: 0.22rem;
    flex-shrink: 0;
    margin-left: 0.28rem;
}

.other_info {
    display: flex;
    flex-direction: column;
    margin-top: 0.18rem;
    background-color: #fff;
    padding-bottom: 0.9rem;
}

.yuanfei_box {
    border-top: solid 0.01rem #ebebeb;
    height: 0.6rem;
    display: flex;
    align-items: center;
    font-size: 0.22rem;
    color: #929292;
    padding-left: 0.3rem;
}

.xiangqing_img_box {
    display: flex;
    flex-direction: column;
}

.xiangqing_img_box img {
    width: 100%;
}

.product_buy_btn_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 0.9rem;
    border-top:solid 0.01rem #ebebeb;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 5000;
}

.buy_info_btn {
    display: flex;
    flex-direction: column;
    width: 0.9rem;
    height: 0.9rem;
    align-items: center;
    justify-content: center;
    border-right: solid 0.01rem #ebebeb;
}

.buy_info_btn img {
    width: 0.38rem;
    height: 0.38rem;
    margin-bottom: 0.05rem;
}

.buy_info_btn span {
    font-size: 0.2rem;
    color: #5b5b5b;
}

.buy_btn {
    height: 0.9rem;
    background-color: #fe8856;
    text-align: center;
    line-height: 0.9rem;
    color: #fff;
    font-size: 0.46rem;
    flex-grow: 1;
}